@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}


button {
  cursor: pointer;
}

body {
  /* VARIABLES */
  /*Colors*/
  --cream: #e2e0c7;
  --text-black: #030303;
  --text-white: #ffffff;
  --yellow: #fbd725;
  --blue-light: #90b7bf;
  --blue-dark: #67a1bc;
  --red: #9f2123;

  /*Shadows*/
  --card-shadow: 0px 16px 64px 0px rgba(0, 0, 0, 0.25);
  --card-blue-shadow: 0px 32px 50px 0px rgba(6, 63, 86, 0.5);
  --text-shadow: 0px 4px 8px rgba(6, 63, 86, 0.5);

  /*Font Sizes*/
  --f-base: 1rem;
  --f-u-1: 1.06rem;
  --f-u-2: 1.12rem;
  --f-u-3: 1.19rem;
  --f-u-4: 1.31rem;
  --f-u-5: 1.38rem;
  --f-u-6: 1.5rem;

  --f-d-1: 0.94rem;
  --f-d-2: 0.88rem;
  --f-d-3: 0.81rem;

  /* font */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: var(--blue-dark);
}

/* Header CSS */

.main-header {
  margin: 32px;
  padding: 32px;
  background-color: var(--v);
  border-radius: 32px;
  background-color: var(--cream);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.nav-link-group {
  gap: 16px;
  display: flex;
}

.nav-link {
  font-size: 26px;
  color: var(--text-black);
  text-decoration: none;
  font-weight: 800;
}

.nav-link.active,
.nav-link.hover {
  border-bottom: 4px solid var(--text-black);
}

.nav-link.hover {
  border-bottom: 4px solid var(--text-black);
}

.logo {
  position: absolute;
  z-index: 99;
  left: 1%;
  margin-top: -38px;
}

/* Main Content CSS */
.main-content {
  flex: 1;
}

/* Footer CSS */
.main-footer {

  background-image: url(/assets/footer_bg.png);
  min-height: 300px;
  background-size: cover;
  background-position: bottom;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.dark-glass {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 16px;
  border-radius: 4px;
  width: 80%;
  backdrop-filter: blur(32px);
}

.footer-copyright {
  text-align: center;
  color: #c0c0c0;
}

.f-column {
  /* flex: 1; */
  flex-direction: column;
  display: flex;
  gap: 4px;
  color: var(--text-white);

  > p{
    text-align: center;
  }

}

.f-column > h3 {
  display: f;
  color: var(--yellow);
  border-bottom: 2px solid var(--yellow);
  /* width: 64px; */
}

.f-column > a {
  color: var(--text-white);
  text-decoration: none;
  padding: 4px;
}

.footer-main-content {
  display: flex;
  gap: 36px;
}
.f-column.long {
  flex: 3;
  max-width: 700px;
  margin-left: auto;
}

.f-column.long > h3 {
  text-align: center;
}

.t-form {
    display: flex;
    gap: 16px;
}

.t-input {
    border: 1px solid var(--yellow);
    border-radius: 32px;
    background: none;
    padding: 8px;
    color: var(--text-white);
    flex: 1;
}

.t-button {
color: var(--text-black);
font-weight: 800;
background-color: var(--yellow);
padding: 8px 16px;
border-radius: 32px;
border: none;
}


.news {
    color: var(--yellow);
    font-weight: 800;
}

@media only screen and (max-width: 600px) {
  .footer-main-content {
    flex-direction: column;
  }
}


.clouds-section{
  background: #67a1bc;
  background: linear-gradient(
    180deg,
    rgba(103, 161, 188, 1) 0%,
    rgba(144, 183, 191, 1) 100%
  );
  position: relative;
  min-height: 550px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.cloud-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  z-index: 1;
}


.cloud{
  position: absolute;
  z-index: 1;
}
.cloud.small{
  left: 30%;
  top: 32px;
}
.cloud.left{
  left: 0;
}
.cloud.right{
  right: 0;
}


.main-btn {
  background-color: var(--blue-dark);
  color: var(--text-white);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 8px 16px;
  text-shadow: var(--card-shadow);

}

.main-btn:hover{
  filter: brightness(1.1);
}