@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

body {
    /* VARIABLES */
    /*Colors*/
    --cream: #E2E0C7;
    --text-black: #030303;
    --text-white: #FFFFFF;
    --yellow: #FBD725;
    --blue-light: #90B7BF;
    --blue-dark: #67A1BC;
    --red: #9F2123;

    /*Shadows*/
    --card-shadow: 0px 16px 64px 0px rgba(0, 0, 0, 0.25);
    --card-blue-shadow: 0px 32px 50px 0px rgba(6, 63, 86, 0.5);
    --text-shadow: 0px 4px 8px rgba(6, 63, 86, 0.5);

    /*Font Sizes*/
    --f-base: 1rem;
    --f-u-1: 1.06rem;
    --f-u-2: 1.12rem;
    --f-u-3: 1.19rem;
    --f-u-4: 1.31rem;
    --f-u-5: 1.38rem;
    --f-u-6: 1.5rem;

    --f-d-1: 0.94rem;
    --f-d-2: 0.88rem;
    --f-d-3: 0.81rem;

    /* font */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    border: 2px solid green;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--blue-dark);


}




.main-header {
    border: 2px solid red;
    
    margin: 32px;
    padding: 32px;
    background-color: var(--v);
    border-radius: 32px;
    background-color: var(--cream);
    
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav-link {
    font-size: 26px;
    color: var(--text-black);
    text-decoration: none;
    font-weight: 800;
}

.nav-link.active {
    border-bottom: 8px solid var(--text-black);
}


.main-content {

    border: 2px solid blue;
    flex: 1;

}

.main-footer {

    border: 2px solid purple
}