.hero-banner {

    background-image: url(/assets/Banner_image.png);
    min-height: 485px;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    padding-right: 64px;
  }

  .hero-heading{
    font-size: 30px;
    color: var(--text-white);
    text-shadow: var(--text-shadow)
  }

  .hero-link{
   justify-content: center;
   text-decoration: none;
   color: var(--text-white);
   padding: ;
  }