
/* 
.nav-bar {
    
} */

/* .logo  {
    position: absolute;
    z-index: 2;
    left: -2.5%;
    left: 2.5%;
    margin-top: -32px;
} */


/*     

.nav-links a {
    text-decoration: none; 
} */

/* 
.banner {
} */

