:root {
    --gradient-bg: linear-gradient(
        180deg,
        rgb(255, 255, 255) 0%,
        rgba(144, 183, 191, 1) 100%
    );
}

/* Heading */
.test-heading {
    color: var(--text-white);
    font-size: 42px;
    text-shadow: var(--text-shadow);
}

/* Testimonials container */
#all-testimonials {
    border: 1px solid red;
    width: 100%;
    max-width: 900px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

/* Form */
#test-form {
    padding: 32px;
    border-radius: 32px;
    background: var(--gradient-bg);
    box-shadow: var(--card-blue-shadow);
    
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 800;
    width: 100%;
    max-width: 600;
}

.rating-row {
    border-bottom: 1px solid var(--text-black);
    display: flex;
    gap: 4px;
}

.test-input{
    background: none;
    border: 1px solid var(--text-black);
    border-radius: 4px;
    padding: 8px;
    resize: vertical;
    width: 100%;
}

.t-bottom-row{
    display: flex;
    gap: 4px;
    align-items: center;

    > label  {
        text-wrap: nowrap;
    }
}
/* Testimonial cloud */
.t-cloud {
    background: var(--gradient-bg);

    display: flex;
    flex-direction: column;
    gap: 4px;

    padding: 32px;
    border-radius: 64px;
    width: 100%;
    max-width: 300px;
}

/* Top section */
.t-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-black);
}
